<div>
  <section
    class="bg-cover bg-no-repeat bg-bottom w-full h-screen dark:bg-gray-100 dark:text-gray-800"
    style="background-image: url(&quot;/assets/img/img-main.jpg&quot;)"
  >
    <div
      class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl"
    >
      <h1 class="text-4xl font-bold text-gray-600 leading-none sm:text-5xl">
        Funeraria San Juan
      </h1>
      <p class="px-8 mt-8 mb-12 text-lg text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="flex flex-wrap justify-center">
        <button
          class="px-8 py-3 m-2 text-lg font-semibold rounded dark:bg-blue-700 dark:text-gray-50"
        >
          Contact us
        </button>
      </div>
    </div>
  </section>

  <section class="py-6 sm:py-12 dark:bg-gray-100 dark:text-gray-800">
    <div class="container p-6 mx-auto space-y-8">
      <div class="space-y-2 text-center">
        <h2 class="text-3xl font-bold">Partem reprimique an pro</h2>
        <p class="font-serif text-sm dark:text-gray-600">
          Qualisque erroribus usu at, duo te agam soluta mucius.
        </p>
      </div>
      <div
        class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4"
      >
        <article
          class="max-w-xs rounded-md shadow-md dark:bg-gray-50 dark:text-gray-800"
        >
          <img
            src="https://source.unsplash.com/random/300x300/?2"
            alt=""
            class="object-cover object-center w-full rounded-t-md h-72 dark:bg-gray-500"
          />
          <div class="flex flex-col justify-between p-6 space-y-8">
            <div class="space-y-2">
              <h2 class="text-3xl font-semibold tracking-wide">
                Donec lectus leo
              </h2>
              <p class="dark:text-gray-800">
                Curabitur luctus erat nunc, sed ullamcorper erat vestibulum
                eget.
              </p>
            </div>
            <button
              type="button"
              class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md dark:bg-violet-600 dark:text-gray-50"
            >
              Read more
            </button>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
